.collection-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%; /* Set a fixed height for the parent container */
  }
  
  .collection-row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 1px solid black;
    flex-grow: 1; /* Allow the collection rows to grow and fill up remaining space */
    max-height: 10%;
  }
  
  .collection-row h3,
  .collection-row p {
    flex-basis: 25%; /* Set the initial width of the content columns */
  }
  
  .collection-row:nth-child(even) {
    background-color: rgba(219, 215, 144, 0.685);
  }
  
  